<div class="container">
        <h1 class="catogery-head">Courses</h1>
        <button type="button" class="btn btn-outline-primary add" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
                + Add
            </button>
        <div class="d-inline-flex">
            <a  style="text-decoration: none" href="#"  routerLink="/live-inter-android" routerLinkActive="active">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img class="icons" src="../../../assets/image/android.png">
                        </div>
                        <div class="col">
                            <h2 class="course-name">Android</h2>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a style="text-decoration: none" href="#"  routerLink="/live-inter-ios" routerLinkActive="active">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img class="icons" src="../../../assets/image/apple.png">
                        </div>
                        <div class="col">
                            <h2 class="course-name">Ios</h2>
                        </div>
                    </div>
                </div>
            </div>
    </a>
    <a style="text-decoration: none" href="#"  routerLink="/live-inter-php" routerLinkActive="active">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img class="icons" src="../../../assets/image/php.png">
                        </div>
                        <div class="col">
                            <h2 class="course-name">Php</h2>
                        </div>
                    </div>
                </div>
    
            </div>
    </a>
        </div>
        
        <div class="d-inline-flex">
                <a style="text-decoration: none" href="#"  routerLink="/live-inter-python" routerLinkActive="active">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img class="icons" src="../../../assets/image/python.png">
                        </div>
                        <div class="col">
                            <h2 class="course-name"> Python</h2>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            <a style="text-decoration: none" href="#"  routerLink="/live-inter-java'" routerLinkActive="active">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img class="icons" src="../../../assets/image/java.png">
                        </div>
                        <div class="col">
                            <h2 class="course-name"> Java</h2>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>