<div class="bg">
    <hr>

    <img class="img-fluid video-img" src="../../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (3).png">
    <p class="grey-text text-size video-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
        magnaminimveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

    <div class="q-and-a">
        <p class="q-and-a-text">Q & A</p>
    </div>
    <div class="question-bg">
        <div class="question-align">
            <h2 class="question-heading grey-text ">Add Question</h2>
            <div class="question-grey-bg">
                <div class="form-group">
                    <textarea class="form-control" rows="1" placeholder="Enter your question here..."></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary submit-btn">Submit</button>
        </div>
    </div>

    <div class="question-bg">
        <div class="answer-align">
            <div class="row">
                <div class="col-sm-2">
                    <img class="profile-pic" src="../../../assets/image/User image.png">
                    <span class="grey-text name-pad">John</span>
                </div>

                <div class="col-sm-10">
                    <p class="grey-text para-pad text-size ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do
                        eiusmod tempor incididunt ut labore et
                        dolore magnaminimveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
            </div>

            <div class="row row2">
                <div class="col-sm-1">
                    <h2 class="answer-heading grey-text">Answer</h2>
                </div> 

                <div class="col-sm-11">
                    <div class="question-grey-bg">
                        <p class="grey-text text-size answer-para">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut
                            labore et dolore .</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
