
<div class="bg">
<div class="container-fluid table-background">
        <div class="row">
                <h2 class="quiz-head">Quiz</h2>
        </div>



<div class="table-responsive quiz-table">
                <table class="table">
                  <thead class="table-head">
                    <tr class="text-center">
                      <th scope="col">Course</th>
                      <th scope="col">Module Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Due Date</th>
                      <th scope="col">Total Questions</th>
                      <th scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                     
                      <td>Python</td>
                      <td>Indroduction</td>
                      <td>17/4/2021</td>
                      <td>17/4/2021</td>
                      <td>8</td>
                      <td>
                            <a  class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                <span>Attend</span>
                              </a>
                        </td>
                      
                    </tr>
                    <tr class="text-center">
                     
                            <td>Python</td>
                            <td>Indroduction</td>
                            <td>17/4/2021</td>
                            <td>17/4/2021</td>
                            <td>8</td>
                            <td> 
                                 <a  class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                <span>Attend</span>
                              </a>
                                    <!-- <button type="button" class="btn attend-btn">Attend</button> -->
                              </td>
                            
                          </tr><tr class="text-center">
                     
                                <td>Python</td>
                                <td>Indroduction</td>
                                <td>17/4/2021</td>
                                <td>17/4/2021</td>
                                <td>8</td>
                                <td>
                                        <a  class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                            <span>Attend</span>
                                          </a>
                                        <!-- <button type="button" class="btn attend-btn">Attend</button> -->
                                  </td>
                                
                              </tr><tr class="text-center">
                     
                                    <td>Python</td>
                                    <td>Indroduction</td>
                                    <td>17/4/2021</td>
                                    <td>17/4/2021</td>
                                    <td>8</td>
                                    <td>
                                            <a  class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                                <span>Attend</span>
                                              </a>
                                            <!-- <button type="button" class="btn attend-btn">Attend</button> -->
                                      </td>
                                    
                                  </tr><tr class="text-center">
                     
                                        <td>Python</td>
                                        <td>Indroduction</td>
                                        <td>17/4/2021</td>
                                        <td>17/4/2021</td>
                                        <td>8</td>
                                        <td>
                                                <a  class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                                    <span>Attend</span>
                                                  </a>
                                                <!-- <button type="button" class="btn attend-btn">Attend</button> -->
                                          </td>
                                        
                                      </tr><tr class="text-center">
                     
                                            <td>Python</td>
                                            <td>Indroduction</td>
                                            <td>17/4/2021</td>
                                            <td>17/4/2021</td>
                                            <td>8</td>
                                            <td>
                                                    <a class="atṭend-button" routerLink="/attend"  routerLinkActive="active" href="#"  >
                                                        <span>Attend</span>
                                                      </a>
                                                    <!-- <button type="button" class="btn attend-btn">Attend</button> -->
                                              </td>
                                            
                                          </tr>
            </tbody>
          </table>
        </div>
  </div>
  </div>