<div class="container-fluid first">
        <section class="banner-blue">
            <div class="blue">
                <h1 class="banner-blue-heading">About Us</h1>
                <p class="banner-blu-heading-sub">Home /About Us</p>
            </div>
        </section>
    </div>


<div class="row">
    <div class="col-md-6">
            <img class="about-image3" src="..\assets\image\round.png">
       
            <img class="about-image" src="..\assets\image\2.png">
        
                <img class="about-image2" src="..\assets\image\3.png">
    </div>
    <div class="col-md-6">
        <div class="text3">
        <h1>About Irohub</h1>
    </div>
    <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              <br>It has survived not only five centuries, but also the leap into electronic typesetting, 
              <br>remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
              <br>
              sheets containing Lorem Ipsum passages, and more recently with desktop publishing <br>
              software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    </div>
</div>


<div class="container image-teaching">
        <img class="image-teaching1" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (3).png">
    </div>
    






 
 <div class="container">
        <div>
            <h1  class="faculty-head"> Our Faculties</h1>
        </div>
    </div>





<div class="container">
    <div class="row">
        <div class="col-lg-4 course-images course-images-bottom">
            <div>

                <img class="img-fluid faculty-image" src="..\assets\image\banner-2.png">

            </div>
            <div class="faculty-text">
                <p>Anna Blown</p>
                <div class="text8">
                    <p>&nbsp;&nbsp;Developer</p>
                </div>
            </div>
            <div class="text9">
                <p>she charms of pleasure of the moment</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
            </div>
        </div>
        <div class="col-lg-4 course-images course-images-bottom">
            <div>
                <img class="img-fluid faculty-image" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (4).png">
            </div>
            <div>
                <p class="faculty-text">Anna Blown</p>
                <div class="text10">
                    <p>&nbsp;&nbsp;Developer</p>
                </div>
            </div>
            <div class="text9">
                <p>She charms of pleasure of the moment</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
            </div>
        </div>
        <div class="col-lg-4 course-images course-images-bottom">
            <div>
                <img class="img-fluid faculty-image" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (5).png">
            </div>
            <div>
                <p class="faculty-text">Anna Blown</p>
                <div class="text10">
                    <p>&nbsp;&nbsp;Developer</p>
                </div>
            </div>
            <div class="text9">
                <p>She charms of pleasure of the moment</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
            </div>
        </div>
    </div>





    <div class="row">
            <div class="col-lg-4 course-images course-images-bottom">
                <div>
    
                    <img class="img-fluid faculty-image" src="..\assets\image\banner-2.png">
    
                </div>
                <div>
                    <p class="faculty-text">Anna Blown</p>
                    <div class="text10">
                        <p>&nbsp;&nbsp;Developer</p>
                    </div>
                </div>
                <div class="text9">
                    <p>She charms of pleasure of the moment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                </div>
            </div>
            <div class="col-lg-4 course-images course-images-bottom">
                <div>
                    <img class="img-fluid  faculty-image" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (4).png">
                </div>
                <div>
                    <p class="faculty-text">Anna Blown</p>
                    <div class="text10">
                        <p>&nbsp;&nbsp;Developer</p>
                    </div>
                </div>
                <div class="text9">
                    <p>She charms of pleasure of the moment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                </div>
            </div>
            <div class="col-lg-4 course-images course-images-bottom">
                <div>
                    <img class="img-fluid  faculty-image" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (5).png">
                </div>
                <div>
                    <p class="faculty-text">Anna Blown</p>
                    <div class="text10">
                        <p>&nbsp;&nbsp;Developer</p>
                    </div>
                </div>
                <div class="text9">
                    <p>She charms of pleasure of the moment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                </div>
            </div>
        </div>
    </div>

   
      
<!-- 

<div class="container">
        <div class="row1">
            <h1>Our Team</h1>
        </div>
    </div>

<div class="row justify-content-end down">
        <div class="col-lg-4 course-images course-images-bottom">
            <div>
        
                <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (1).png">
        
            </div>
            <div class="text7">
                    <p>Anna Blown</p>
                    <div class="text8">
                    <p>&nbsp;&nbsp;Developer</p>
                </div></div>
                <div class="text9">
                    <p>she charms of pleasure of the moment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                </div>
        </div>
        <div class="col-lg-4 course-images course-images-bottom">
                <div>
                    <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (4).png">
                </div>
                <div class="text7">
                        <p>Anna Blown</p>
                        <div class="text8">
                        <p>&nbsp;&nbsp;Developer</p>
                    </div></div>
                    <div class="text9">
                        <p>she charms of pleasure of the moment</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                    </div>
            </div>
            <div class="col-lg-4 course-images course-images-bottom">
                    <div>
                        <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (5).png">
                    </div>
                    <div class="text7">
                            <p>Anna Blown</p>
                            <div class="text8">
                            <p>&nbsp;&nbsp;Developer</p>
                        </div></div>
                        <div class="text9">
                            <p>she charms of pleasure of the moment</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                        </div>
                </div>
        </div>

        
<div class="row justify-content-end down">
        <div class="col-lg-4 course-images course-images-bottom">
            <div>
        
                <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (1).png">
        
            </div>
            <div class="text7">
                    <p>Anna Blown</p>
                    <div class="text8">
                    <p>&nbsp;&nbsp;Developer</p>
                </div></div>
                <div class="text9">
                    <p>she charms of pleasure of the moment</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                </div>
        </div>
        <div class="col-lg-4 course-images course-images-bottom">
                <div>
                    <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (4).png">
                </div>
                <div class="text7">
                        <p>Anna Blown</p>
                        <div class="text8">
                        <p>&nbsp;&nbsp;Developer</p>
                    </div></div>
                    <div class="text9">
                        <p>she charms of pleasure of the moment</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                    </div>
            </div>
            <div class="col-lg-4 course-images course-images-bottom">
                    <div>
                        <img class="img-fluid" src="..\assets\image\urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (5).png">
                    </div>
                    <div class="text7">
                            <p>Anna Blown</p>
                            <div class="text8">
                            <p>&nbsp;&nbsp;Developer</p>
                        </div></div>
                        <div class="text9">
                            <p>she charms of pleasure of the moment</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so blinded by desire foresee</p>
                        </div>
                </div>
        </div>
         -->