<div class="bg">
    <div class="content">
        <h3 class="course-heading">Pack Upgrade</h3>
        <hr>
        <div class="course-section">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid course-img" src="../../../assets/image/course-image1@2x.png">
                </div>

                <div class="col-lg-8">
                    <h1 class="course-description-heading">IOS Development</h1>
                    <p class="course-description-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore
                        et dolore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore</p>
                        <ngb-rating [rate]="5"></ngb-rating>
                        <span class="rating-num">5.0</span>
                        <div class="row justify-content-between">
                            <div class="col ">
                                <p class="level">Expert</p>
                                <p class="level price">Price : 9999</p>
                            </div>
                           <div class="col center">
                                 <a href="#" class="view-details">View Details</a>
                           </div>
                           <div class="col center">
                                 <a href="#" class="btn btn-primary choose-button" routerLink="/vide-packupgrade"
                                  routerLinkActive="active">Choose Pack</a>
                           </div>
                        </div>  
                </div>
            </div>
        </div>

        <div class="course-section">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid course-img" src="../../../assets/image/course-image1@2x.png">
                </div>

                <div class="col-lg-8">
                    <h1 class="course-description-heading">IOS Development</h1>
                    <p class="course-description-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore
                        et dolore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore</p>
                         <ngb-rating [rate]="5"></ngb-rating>
                         <span class="rating-num">5.0</span>
                    <div class="row justify-content-between">
                        <div class="col">
                            <p class="level">Expert</p>
                            <p class="level price">Price : 9999</p>
                        </div>
                       <div class="col center">
                             <a href="#" class="view-details">View Details</a>
                       </div>
                       <div class="col center">
                             <button class="btn btn-primary choose-button">Choose Pack</button>
                       </div>
                    </div>                
                </div> 
            </div>
        </div>

    </div>
      
</div>
