.dashboard-head{
    color: #707070;
    font-size: 18px;
    text-align: left;
padding-top: 20px;
}
.latest-border{
    border-top:5px #4668EE solid;
}
.latest-head{
    color:#707070;

}
.upcoming-border{
    border-top:5px #46BAEE solid;
}
.upcoming-head{
    color:#707070;

}
.live-border{
    border-top:5px #EE7446 solid;
}
.live-head{
    color:#707070;

}
.live-button{
    margin-left: 90%;
    margin-top: -112px;
    border-radius: 20px;
    background-color: #4668EE;
    color: white;
}

/* .assignment-button{
    background-color: #EE46E8;
    color: white;
    text-align: center;
    width: 33%;
    height: 8%;
} */
/* .quiz-button{
    background-color: #A741E1;
    color: white;
    text-align: center;
    width: 33%;
    height: 8%;
    margin-left: 84px;
} */





.assignment-button{
    background-color: #EE46E8;
    color: white;
    text-decoration: none;
    padding: 17px 62px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    font-size: 23px;
    margin-left: 70px;
  }
  
  
  .button-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 100%;
    background: #FF7070;
    color: white;
  }
  .quiz-button{
    background-color: #A741E1;
    color: white;
    text-decoration: none;
    padding: 17px 100px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    font-size: 23px;
    margin-left: 100px;
    
  }
  .classroom-image{
      width: 100%;
      margin-top: 14%;
      height: 300px;
  }