<div class="bg">
    <div class="container-fluid">
        <div class="row">
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="student-icon">
                            <mat-icon class="icons">people_outline</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Student</h3>
                            <p class="para">500</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="instructors-icon">
                            <mat-icon class="icons">person</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Instructors</h3>
                            <p class="para">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="courses-icon">
                            <mat-icon class="icons">school</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Courses</h3>
                            <p class="para">500</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="revenue-icon">
                            <mat-icon class="icons">payment</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Total Revenue</h3>
                            <p class="para">500</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="issue-icon">
                            <mat-icon class="icons">warning</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Issues Raised</h3>
                            <p class="para">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card1">

                <div class="card">
                    <div class="card-body">
                        <div class="idea-icon">
                            <mat-icon class="icons">new_releases</mat-icon>
                        </div>
                        <div>
                            <h3 class="head">Project Idea Form</h3>
                            <p class="para">5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div id="divChart">

            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="divChart2">
                <h1>Video class</h1>
                <canvas id="myChart2"></canvas>
            </div>
            <div id="divChart3">
                <h1>Live class</h1>
                <canvas id="myChart3"></canvas>
            </div>
        </div>
    </div>


    <div class="container history">
        <div class="row">
            <div class="col-md-6">
                <h1>Payment History</h1>
                <div class="payment-details">
                    <div class="row payment">

                        <img class="profile-image" src="../../../assets/image/profile.png">
                        <p class="money-para">Paid 660 rupeee</p>
                        <p class="time-para">1 Hr ago</p>
                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image" src="../../../assets/image/profile.png">
                        <p class="money-para">Paid 660 rupeee</p>
                        <p class="time-para">1 Hr ago</p>

                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image" src="../../../assets/image/profile.png">

                        <p class="money-para">Paid 660 rupeee</p>
                        <p class="time-para">1 Hr ago</p>


                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image" src="../../../assets/image/profile.png">

                        <p class="money-para">Paid 660 rupeee</p>
                        <p class="time-para">1 Hr ago</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <h1>Recent Activity</h1>
                <div class="payment-details">
                    <div class="row payment">

                        <img class="profile-image-activity" src="../../../assets/image/profile.png">
                        <p class="money-para1">Can someone help me with AngularJS?
                            <br>Topic: AngularJS By: Adrian Demian</p>
                        <p class="time-para1">1 Hr ago</p>
                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image-activity" src="../../../assets/image/profile.png">
                        <p class="money-para1">Can someone help me with AngularJS?
                            <br> Topic: AngularJS By: Adrian Demian</p>
                        <p class="time-para1">1 Hr ago</p>
                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image-activity" src="../../../assets/image/profile.png">
                        <p class="money-para1">Can someone help me with AngularJS?
                            <br> Topic: AngularJS By: Adrian Demian</p>
                        <p class="time-para1">1 Hr ago</p>
                    </div>
                    <hr>
                    <div class="row payment">
                        <img class="profile-image-activity" src="../../../assets/image/profile.png">
                        <p class="money-para1">Can someone help me with AngularJS?
                            <br> Topic: AngularJS By: Adrian Demian</p>
                        <p class="time-para1">1 Hr ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>