<div class="page-bg">
    <div class="container-fluid ">
        <h2 class="consult-head">Consult Faculty</h2>
        <hr>
        <p class="consult-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
    <div class="row">
        <div class="col-md-6">

            <form>

                <fieldset disabled>
                    <div class="form-group pad">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Faculty- Jhon Doe">
                    </div>
                </fieldset>
                <div class="date-picker">
                    <label class="date-picker-label">Pick a date</label>
                    <br>

                    <input type="date" id="date-picker">

                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-group pad">
                            <label class="start-time">Start Time</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="9.00 am">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group pad">
                            <label class="end-time">End Time</label>
                            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="10.00 am">
                        </div>
                    </div>

                </div>



                <button type="button" class="btn btn-submit">submit</button>

            </form>

        </div>


        <div class="col-md-6">
            <div class="row time">
                <h2 class="total-hour">
                    Total Time - </h2>
                <h2 class="hours"> 6 HR</h2>
            </div>
            <h2 class="available-hour">
                Available Time - 5 hr
            </h2>
            <!-- <h3 class="available-time">Note:</h3> -->
            <h3 class="available-time">
                <mat-icon>format_quote
                </mat-icon>Faculty Available Time : 9:00 am  To 6:00 pm
                <mat-icon>format_quote
                </mat-icon>
            </h3>
        </div>


        <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
<owl-date-time #dt1></owl-date-time> -->
    </div>
</div>