.mat-list-icon {
    color: #ffc107;
    font-size:85px;
  }
  .study-head{
      color: #707070;
      padding-top: 25px;
      font-size: 28px;
  }
  .title{
      padding-left: 10px;
      color: #707070;
  }