<!-- <app-home></app-home> -->
<!-- <app-about> </app-about> -->

<!-- <app-description></app-description> -->
<!-- <app-services></app-services> -->

<!-- <app-dashboard></app-dashboard>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-assignment></app-assignment> -->

<!-- <app-quiz></app-quiz> -->
<!-- <app-quiz-attend></app-quiz-attend> -->
<!-- <app-placement-desk></app-placement-desk> -->

<!-- <app-graduation></app-graduation> -->
<!-- <app-consult-faculty></app-consult-faculty> -->
<!-- <app-study-material></app-study-material> -->
<!-- <app-video-header-sidebar> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-video-pack-upgrade></app-video-pack-upgrade> -->
<!-- <app-video-continue></app-video-continue> -->
<!-- <app-video-dashboard></app-video-dashboard> -->
<!-- <app-video-pack></app-video-pack> -->
<!-- <app-video-play-video></app-video-play-video> -->
<!-- </app-video-header-sidebar> -->




<app-admin-header-sidebar>
    <!-- <app-admin-batch-timetable></app-admin-batch-timetable> -->
    <!-- <app-admin-batch-mangement></app-admin-batch-mangement> -->
        <!-- <app-course></app-course> -->
        <!-- <app-admin-courses> </app-admin-courses> -->
        <router-outlet></router-outlet>
        <!-- <app-admin-live-big-ios></app-admin-live-big-ios> -->
        <!-- <app-admin-live-beginner-android></app-admin-live-beginner-android> -->
        <!-- <app-admin-graduation></app-admin-graduation> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-admin-project-ideas></app-admin-project-ideas> -->
<!-- <app-admin-placement></app-admin-placement> -->
<!-- <app-admin-processed-ideas></app-admin-processed-ideas> -->
</app-  admin-header-sidebar>

