<div class="container-fluid first">
    <section class="banner-blue">
        <div class="blue">
            <h1 class="banner-blue-heading">Our Services</h1>
            <p class="banner-blu-heading-sub">Home / Our Services</p>
        </div>
    </section>
</div>



<div class="container service">
    <div class="row service-row">
    <div class="col-md-4">
       
                    <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
            <mat-icon>business</mat-icon>
            <h4 class="service-heading">Corparate Training</h4>
            <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
            <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
        </div>
</div>
<div class="col-md-4">
        <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
       <mat-icon>group_add</mat-icon>
        <h4 class="service-heading">Trainings for ongoing college students</h4>
        <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
        <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
    </div>
</div>
<div class="col-md-4">
        <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
            <mat-icon>group_add</mat-icon>
        <h4 class="service-heading">Training for faculties</h4>
        <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
        <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
    </div>
</div>
</div>

<div class="row service-row">
        <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                    <mat-icon>group_add</mat-icon>
                <h4 class="service-heading">Project training</h4>
                <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
                <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
            </div>
    </div>
    <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                <mat-icon>group_add</mat-icon>
            <h4 class="service-heading">College workshops</h4>
            <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
            <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
        </div>
</div>
<div class="col-md-4">
        <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
            <mat-icon>layers</mat-icon>
        <h4 class="service-heading">Academic projects</h4>
        <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
        <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
    </div>
</div>
</div>
<div class="row service-row">
        <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                    <mat-icon>computer</mat-icon>
                <h4 class="service-heading">Webinars</h4>
                <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
                <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
    </div>
    </div>
    <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                <mat-icon>work</mat-icon>
            <h4 class="service-heading">Business development classes by industrial experts</h4>
            <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
            <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
        </div>
    </div>
    <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                <mat-icon>live_help</mat-icon>
            <h4 class="service-heading">Live projects</h4>
            <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
            <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
        </div>
    </div>
    </div>
    
    <div class="row service-row">
            <div class="col-md-4">
                    <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                        <mat-icon>group_add</mat-icon>
                    <h4 class="service-heading">Job oriented training</h4>
                    <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
                    <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
                </div>
        </div>
        <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                    <mat-icon>group_work</mat-icon>
                <h4 class="service-heading">Internships</h4>
                <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
                <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
            </div>
    </div>
    <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded bottom-border">
                <mat-icon>group_add</mat-icon>
            <h4 class="service-heading">Scholarships</h4>
            <p class="service-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et ,</p>
            <button type="button" class="btn btn-outline-primary service-button">Learn More</button>
        </div>
    </div>
    </div>
</div>