<div class="container-fluid">
    <h1 class="course-head">Courses</h1>
    <div class="d-inline-flex">
        <a style="text-decoration: none" href="#"  routerLink="/admin-course-live" routerLinkActive="active">
<div class="card" style="width: 18rem;">
    <img src="../../../assets/image/youtube-1684601_1280.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Live Class</h2>

    </div>
  </div>
</a>
<a style="text-decoration: none" href="#"  routerLink="/" routerLinkActive="active">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/image/video-conference-5167472_1920.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Video Class</h2>
        
            </div>
          </div>
        </a>
    </div>
  </div>