<div class="bg">
    <div class="content">
        <h3 class="course-heading">Pack Upgrade</h3>
        <hr>
        <div class="course-section">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid course-img" src="../../../assets/image/course-image1@2x.png">
                </div>

                <div class="col-lg-8">
                    <h1 class="course-description-heading">IOS Development</h1>
                    <p class="course-description-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore</p>
                    <div class="row justify-content-between">
                        <div class="col-sm-3">
                            <ngb-rating [rate]="5"></ngb-rating>
                            <span class="rating-num">5.0</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="join-date">Join Date : 11/15/2019</span>
                        </div>
                    </div>
                    <p class="beginner">Beginner</p>
                    <a routerLink="/pack-upgrade-option" type="button" class="btn btn-primary upgrade-btn">Upgrade Pack</a>
                </div>
            </div>
        </div>
    </div>
</div>
