
<div class="container-fluid">
        <h1 class="catogery-head">Courses</h1>
        <div class="d-inline-flex">
            <a style="text-decoration: none" href="#"  routerLink="/admin-live-beginner" routerLinkActive="active">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/image/beginer.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Beginner</h2>
    
        </div>
      </div>
    </a>
    <a style="text-decoration: none" href="#"  routerLink="/admin-live-inter-course" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/image/Intermediate.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Intermediate</h2>
            
                </div>
              </div>
            </a>
            <a style="text-decoration: none" href="#"  routerLink="/admin-live-exp-course" routerLinkActive="active">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/image/Expert.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Expert</h2>
                    
                        </div>
                      </div>
                    </a>
        </div>
      </div>