.card{
    margin-right: 40px;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
}
.catogery-head{
    font-size:26px;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
}