.bg{
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
}
.grey-text{
    color: #707070;
}
.content{
    padding: 30px 20px;
}

.reset-pass-heading{
   
    font-size: 18px;
}

hr{
    color:#707070 ;
    size: 1px solid;
}

input{
    border: 1px #707070 solid;
    height: 50px;
}
.row{
    padding: 10px 0px;
}

.reset-btn{
    background-color: #4668EE;
    color: #ffffff;
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
}