<div class="bg">
        <div class="content">
            <h3 class="reset-pass-heading grey-text">Reset Password</h3>
            <hr>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="grey-text" for="formGroupExampleInput">Current Password</label>
                            <input type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="grey-text" for="formGroupExampleInput">New Password</label>
                            <input type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="grey-text" for="formGroupExampleInput">Confirm New Password</label>
                            <input type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary reset-btn">Reset Password</button>
            </form>
        </div>
    </div>
