<!-- 
<div class="container-fluid section1">
<div class="col-md-6">
        <div class="banner-logo-">
                <img class="python-logo-image" src="../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (7).png">
            </div>
        <div class="banner-head">
                <h1> Python Development</h1>
            </div>
            <div class="banner-para">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                       It has survived not only five centuries, but also the leap into electronic typesetting, 
                       remaining essentially unchanged. 
                    </p>
            </div>
            <div class="banner-para-sub1">
                <h5>DURATION</h5>
                <p>4-6 Months</p>
            </div>
            <div class="banner-para-sub2">
                <h5>COURSE TYPE</h5>
                <p> Begginer</p>
            </div>
            <div class="banner-para-sub3">
                <h5>PREREQUISITES</h5>
                <p>Basic Knowledge</p>
            </div>
            <div class="banner-button">
            <button type="button" class="btn btn-primary">ENTROLL NOW</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-light">START FREE TRAIL</button>
        </div>
        </div>

        
        <div class="col-md-6">
                <div class="banner-image">
             
             <img  class="img-fluid  banner-image1" src="../../assets/image/ezgif.com-gif-maker.png">
             <img class="img-fluid banner-image2" src="../../assets/image/356676-PBDI64-861-01.png">
                </div>
    

</div>
    </div>         -->







<div class="banner">
    <div class="container ">
        <div class="row">
            <div class="col-md-7">

                <img class="python-logo-image" src="../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (7).png">
                <div class="banner-side">
                    <div class="banner-head">
                        <h1> Python Development</h1>

                    </div>


                    <div class="banner-para">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                    |<div class="row">
                    <div class="banner-para-sub1">
                        <h3>DURATION</h3>
                        <p>4-6 Months</p>
                    </div>
                    <div class="banner-para-sub2">
                        <h3>COURSE TYPE</h3>
                        <p> Begginer</p>
                    </div>
                    <div class="banner-para-sub3">
                        <h3>PREREQUISITES</h3>
                        <p>Basic Knowledge</p>
                    </div>
                    <div class="banner-button">
                        <button type="button" class="btn btn-primary">ENTROLL NOW</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-light">START FREE TRAIL</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="banner-image">

                <img class="img-fluid  banner-image1" src="../../assets/image/ezgif.com-gif-maker.png">
                <img class="img-fluid banner-image2" src="../../assets/image/356676-PBDI64-861-01.png">
            </div>


        </div>

    </div>

</div>
</div>
<!-- </section> -->
<div class="square">
    <div class="text8">
        <h4>RECORDED CLASS</h4>
    </div>
</div>

<div class="container">

    <div class="sec shadow p-3 mb-5 bg-white rounded">

        <div class="text6">
            <h1>
                Become an Python Developer</h1>

        </div>
        <div class="text7">
            Laccusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet


        </div>
        <hr class="line3">
        <div class="text9">
            <p>+ SEE DETAILS</p>
        </div>
        <div class="text10">
            <p>Estimated 6 months to complete</p>
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-outline-primary">
            <mat-icon>api</mat-icon>Beginer</button>
        <br>
        <br>
        <br>

        <button type="button" class="btn btn-outline-primary">
            <mat-icon>hourglass_top</mat-icon>Intermediate</button>
        <br>
        <br>
        <br>

        <button type="button" class="btn btn-outline-primary">
            <img class="iconimg" src="../../assets/image/experta.png">Expert</button>

    </div>



    <div class="container">
        <div class="sec2 shadow-lg p-3 mb-5 bg-white rounded">

            <div class="square2">
                <div class="text11">
                    <h4> SYLLABUS</h4>
                </div>

            </div>
            <div class="text12">
                <p>Laccusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <img class="img4" src="../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116 (2).png">
            </div>
            <hr class="line4">
            <!-- <div class="button2">
    <button type="button" class="btn btn-light">+SHOW DETAILS</button>
</div> -->
            <div class="button2">
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    +SHOW DETAILS
                </button>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <h3>Introduction</h3>
                    <p>
                        Classes and Objects
                        <br> Class Interface and Implementation
                        <br> What is Properties
                        <br> Method Declaration and Definition
                        <br> Public, Private, and Protected Instance
                        <br> Variables Understanding Simple
                        <br> Messaging Using self in a Message Class and Instance Methods
                        <br> Managing Memory
                        <br> Understanding Inheritance - Methods overriding Using Protocols
                    </p>
                    <h3>Start With X-Code</h3>
                    <h3>Start With X-Code</h3>
                </div>
            </div>
            <div class="button3">
                <button type="button" class="btn btn-light">DOWNLOAD SYLLABUS</button>
            </div>
        </div>
    </div>






    <div class="container-fluid programs">
        <h1 class="program-heading">All Our Programs Include</h1>
        <div class="container">
            <div class="row programs-row">
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>

            </div>
            <div class="row programs-row">
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="../../assets/image/2480558-01@2x.png">
                    <h4 class="program-sub-heading">Exceptional Faculty</h4>
                    <p class="Program-para text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Lorem ipsum dolor sit
                        amet, consetetu</p>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="sec3">
                &nbsp;
                </div>
                <div class="img5">
                    <img class="img5" src="../../assets/image/85114.png">
                </div>
                <div class="img6">
                    <img class="img6" src="../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116.png">
                </div>
                
                <div class="sec4">
                    &nbsp;
                </div> -->


    <div class="row">
        <div class="sec3">

        </div>
        <div class="img5">
            <img class="img5" src="../../assets/image/85114.png">
        </div>
        <div class="img6">
            <img class="img6" src="../../assets/image/urn_aaid_sc_US_a529aacd-d006-4e15-8f92-9b4a822e7116.png">
        </div>
        <div class="quarterCircleBottomLeft">

        </div>
        <div class="text13">
            <h3>Experience Faculty</h3>
        </div>
        <div class="rectangle">

        </div>

        <div class="quarterCircleTopLeft"></div>
        <div class="text14">
            <h2>Selena Gomez</h2>
        </div>
        <div class="text15">
            <p>Laccusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat</p>
        </div>
        <div class="text16">
            <p>Python Developer</p>
        </div>
    </div>







    <div class="container-fluid first">
        <div class="rectangle1">

        </div>
        <div class="quarterCircleTopRight2">

        </div>
        <div class="container-fluid review">
            <h1 class="review-heading">Top Student Reviews</h1>
            <h2 class="review-right">5.0
                <mat-icon class="icons2">grade</mat-icon>
                <mat-icon class="icons2">grade</mat-icon>
                <mat-icon class="icons2">grade</mat-icon>
                <mat-icon class="icons2">grade</mat-icon>
                <mat-icon class="icons2">grade</mat-icon>
            </h2>
            <div class="container">
                <div class="row review-row">
                    <div class="col review-col">
                        <div class="shadow-sm p-3 mb-5 bg-white rounded">
                            <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum. Stet clita kasd gubergren, </p>
                            <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                            <p class="review-para-bottom">Anna Blown</p>
                            <mat-icon class="icons">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                        </div>
                    </div>

                    <div class="col-md-4 review-col">
                        <div class="shadow-sm p-3 mb-5 bg-white rounded">
                            <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum. Stet clita kasd gubergren, </p>
                            <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                            <p class="review-para-bottom">Anna Blown</p>
                            <mat-icon class="icons">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                        </div>
                    </div>

                    <div class="col-md-4 review-col">
                        <div class="shadow-sm p-3 mb-5 bg-white rounded">
                            <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                            <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                            <p class="review-para-bottom">Anna Blown</p>
                            <mat-icon class="icons">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                            <mat-icon class="icons2">grade</mat-icon>
                        </div>
                    </div>
                    <div class="row review-row1">
                        <div class="col-md-4 review-col">
                            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                                <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                    justo duo dolores et ea rebum. Stet clita kasd gubergren, .</p>
                                <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                                <p class="review-para-bottom">Anna Blown</p>
                                <mat-icon class="icons">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                            </div>
                        </div>

                        <div class="col-md-4 review-col">
                            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                                <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                    justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                                <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                                <p class="review-para-bottom">Anna Blown</p>
                                <mat-icon class="icons">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                            </div>
                        </div>

                        <div class="col-md-4 review-col">
                            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                                <p class="riview-para text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                    justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                                <img class="img-fluid" src="../../assets/image/memb06-opi0nxcidx699t8s3cvvi91pkwd5m55g4i8xujx6t4.png">
                                <p class="review-para-bottom">Anna Blown</p>
                                <mat-icon class="icons">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>
                                <mat-icon class="icons2">grade</mat-icon>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 learn">

                        <h3 class="price-heading">Start Learning Today</h3>

                        <p class="price-para">
                            <mat-icon class="colr">
                                done</mat-icon>
                            Shareable Specialization and Course Certificates</p>
                        <p class="price-para">
                            <mat-icon class="colr">
                                done</mat-icon>Course Videos & Readings</p>
                        <p class="price-para">
                            <mat-icon class="colr">
                                done</mat-icon>Graded Assignments with Peer Feedback</p>
                        <p class="price-para">
                            <mat-icon class="colr">
                                done</mat-icon>Graded Assignments with Peer Feedback</p>

                    </div>

                    <div class="col-md-6">
                        <div class="rectangle2">
                            <p class="price-para1 text-center">Beginner</p>
                            <h3 class="price-para2 text-center">$999</h3>
                            <p class="price-para3 text-center">plan Include</p>
                            <p class="price-para3 text-center">Lorem ipsum dolor sit amet, satrern sadipscing elitr,</p>
                            <p class="price-para3 text-center">Lorem ipsum dolor sit amet</p>
                            <p class="price-para3 text-center">Lorem ipsum dolor sit amet</p>
                            <p class="price-para3 text-center">Lorem ipsum dolor sit amet</p>
                            <button type="button" class="btn btn-outline-light butt">Choose Plan</button>
                        </div>


                    </div>

                </div>
            </div>