<div class="container-fluid">
    <h3 class="placement-head">Placement Desk</h3>
    <div class="eligibility-rectangle">

        <h2 class="eligibility-head">Eligibility criteria</h2>

        <mat-icon class="arrow">arrow_right</mat-icon>
        <p class="eligibility-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        <mat-icon class="arrow1">arrow_right</mat-icon>
        <p class="eligibility-para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        <mat-icon class="arrow2">arrow_right</mat-icon>
        <p class="eligibility-para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>

    <div class="opening-head">
        <h2>Current Opening</h2>
    </div>

    <div class="opening-box">
        <h3 class="opening">Ios Developer | kochi</h3>

        <img class="company-logo" src="../../../assets/image/google.png" alt="">
        <p class="opening-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        <button type="button" class="btn apply-btn">Apply Now</button>
        <button (click)="toggleTag()" type="button" class="btn view-button">View Details</button>

        <div *ngIf="showMe" class="details">

            <hr>
            <!-- <img class="details-logo" src="../../../assets/image/google.png" alt=""> -->
            <p class="details-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            <img class="tick" src="../../../assets/image/tick.png">
            <p class="deatils-para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit , sed do eiusmod tempor incididunt ut labore et dolore
                Lorem ipsum d labore et dolore</p>
            <img class="tick" src="../../../assets/image/tick.png">
            <p class="deatils-para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit , sed do eiusmod tempor incididunt ut labore et dolore
                Lorem ipsum d labore et dolore</p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <h2 class="logo-head text-center">
        Associate companies

    </h2>



    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../../assets/image/king2.png">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/score plus2.png">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/leaf2.png">


        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/iroid2.png">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/google@2x.png">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/feather2.png">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/image/IBM_logo@2x.png">
        </ng-template>
    </owl-carousel-o>



</div>