<div class="page">
    <div class="container activity">
        <div>
            <h3 class="activity-head">Your Latest Activity</h3>
            <p class="activity-para">Module10: Welcome to the Deep Learning Nanodegree Program</p>
        </div>
        <div class="resume-btn">
                <!-- <a href="#" type="button" class="btn continue" routerLink="/video-resume" 
                 routerLinkActive="active">Resume Module 10</a>  -->
                 <a href="#"  type="button" class="btn continue" routerLink="/play-video" routerLinkActive="active" >Resume Module 10</a>
                 
        </div>
    </div>
     
</div>
