.page{
    height:100%;
    background-color: #E3E3E3;
}
.activity{
    background-color: #FFFFFF;
    position: relative;
    top: 50px;
    border-radius: 10px;
}
.resume-btn{
    
    text-align: right;
    position: relative;
    bottom: 20px;
}
.btn{
    
    background-color: #707070;
    color: #FFFFFF;

}
.activity-head{
    color: #707070;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    top: 10px;

}
.activity-para{
    color: #707070;
    position: relative;
    top: 10px;
    font-size: 16px;
}
